<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <form action="{% url 'home'%}">
        <input type="text" name="name" value="Rekruto">
        <br>
        <input type="text" name="message" value="Давай дружить">
        <br>
        <button type="submit">Go!!!</button>
    </form>
    <br>
    <br>
    <br>
    {% if name and message %}
    <h3>Hello ,{{name}}, {{message}}!</h3>
    {% endif %}
</body>
</html>